.btn {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
}

.btn-secondary {
    background-color: gray-600;
    color: white;
}

.btn-success {
    background-color: green;
    color: white;
}